<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <div class="note note-info">
        <span class="label label-success"> MINIMUM PAYOUT</span> 0.025 ETH <br/>
        <span class="label Label-success"> PAYOUTS</span> Run every 24 Hours EST.<br/>
        <span class="label label-success"> PHOENIXMAX</span> Professional, Stable and Profitable.<br/>
        <span class="label label-success:> BLOCK EXPLORER</span> <a href="https://etherscan.io"> CLICK HERE</a>
        <div><i class="fa fa-users"></i><b> Miners Online:</b> <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i><b> Pool Hash Rate:</b> <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i><b> Pool Fee:</b> <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i><b> Last Block Found:</b> <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
        <div><i class="fa fa-unlock-alt"></i><b> Network Difficulty:</b> <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i><b> Network Hash Rate:</b> <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i><b> Blockchain Height:</b> <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i><b> Current Round Variance:</b> <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
    <div class="col-md-4">
  <div class="note note-info">
  <iframe src="https"//coin360.com/coin-widget?coin=ETH" width="100%" height="247" frameborder'"0"></iframe>
  </div>
  </div>
  <div class="col-md-4">
  <div class="note note-info">
   <center><iframe src="https://discordapp.com/widget?id=630753420206145537&anp;theme="dark" width="250" height="350" allowtransparency="true" frameborder-"0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></center>
</div>
</div>
<div class="container">
<div class="note note-info">
<div style="font-family: Verdana, Tahoma, Arial, sans-serif;font-size: 10px;color: #C9C6BD;text-align: center;padding:4px 4px 4px 4px;margin: 0;margin-left: auto;margin-right: auto;width: 90%;border: 1px solid #eee!important;"><iframe src="https://widget.coinlib.io/widget?type=horizontal&theme=light&pref_coin_id=1505&invert_hover=no" width="100%" height="22" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your Ethereum Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  </div>
  <div>
    <hr/>
    <h4 class="note note-info text-center">
      <span style="color:green"><i class="fab fa-phoenix-squadron" aria-hidden="true"></i> PhoenixMax ETH PPLNS Mining Pool <i class="fab fa-phoenix-squadron fa flip-horizontal" aria-hidden="true"></i></span><br><br>
      A Premium Ethereum Mining Pool. Our mining pool is highly optimized and hosted on high performance bare metal servers. We offer a low fee and low payout system unlike some of the other pools out there. <br>
      Come give PhoenixMax Mining Pools a try and see the difference!!
    </h4>
    <h4 class="note note-info text-center">
    <a href="https://www.miningrigrentals.com" target="_blank"><img src="https://www.miningrigrentals.com/images.homelogo.png" border="0"></a><br><br>
    <i class="fa fa-server" aria-hidden="true"></i> Algorithm: DAGGERHASHIMOTO <br><br>
    <i class="fa fa-server" aria-hidden="true"></i> Server: ethpool.phoenixmax.org <br><br>
    <i class="fab fa-megaport" aria-hidden="true"></i> 2G Port: 8002 <br>
    <i class="fab fa-megaport" aria-hidden="true"></i> 4G Port: 8004 <br>
    <i class="fab fa-megaport" aria-hidden="true"></i> 8G Port: 8008 <br>
    <i class="fab fa-megaport" aria-hidden="true"></i>16G Port: 8016 <br>
    <i class="fa fa-user-astronaut" aria-hidden="true"></i> Username: Wallet ID<br>
    <i class="fa fa-key" aria-hidden="true"></i> Password: x <br><br>
    </h4>
  </div>
</div>
